<header class="mb-10 w-full">
	<tw-header></tw-header>
	<div *ngIf="apiError" class="bg-red-300 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
		<small>{{error.message}}</small>
	</div>
</header>

<div class="container m-auto flex justify-between">
	<tw-sidebar-left></tw-sidebar-left>

	<div class="tw-center">
		<div class="flex justify-center mx-auto">
			<tw-new-post></tw-new-post>
		</div>

		<div class="flex flex-col items-center justify-center mx-auto">
			<tw-tweet *ngFor="let tweetMessage of tweets" [tweetMessage]="tweetMessage"></tw-tweet>
		</div>
	</div>

	<tw-sidebar-right></tw-sidebar-right>
</div>

<div>
	<tw-footer></tw-footer>
</div>
