<aside id="default-sidebar-r" aria-label="sidebar">
	<div class="h-full px-3 py-4 overflow-y-auto bg-white rounded-lg shadow">
		<h3 class="text-2xl leading-normal">O que está acontecendo</h3>

		<div class="list">
			<div class="card my-4">
				<a href="#"
			class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-200 dark:bg-gray-100 dark:hover:bg-gray-200">
			<div class="flex flex-col justify-between p-4 leading-normal">
				<small class="mb-2 font-normal leading-normal text-gray-900 dark:text-gray-400">Noteworthy technology
					acquisitions 2021</small>
				<p class="font-bold mb-3 text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
					acquisitions of 2021 so far, in reverse chronological order.</p>
			</div>
		</a>
			</div>
		</div>
	</div>
</aside>
